@model TsBlog.ViewModel.User.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/Account/account.css" rel="stylesheet" />
</head>
<body>
    <div class="account-container">
        <div class="account-modal-container">
            <div class="modal"></div>
            <div class="load-bar-container">
                <div class="load-bar">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
            <div class="account-signin-container">
                <h1>用户注册</h1>
                @using (Html.BeginForm("register", "account", FormMethod.Post, new { @class = "account-form", role = "form" }))
                {
                    @Html.ValidationMessage("error_message", new { @class = "error" })
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label>
                            <span>登录名:</span>
                            @Html.TextBoxFor(m => m.UserName, new { placeholder = "请输入登录名" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "error" })
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <span>密码:</span>
                            @Html.PasswordFor(m => m.Password, new { placeholder = "请输入密码" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
                        </label>
                    </div>
                    <div class="form-group">
                        <label>
                            <span>确认密码:</span>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "请输入确认密码" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error" })
                        </label>
                    </div>
                    <div class="form-group">
                        <button id="btn_register" type="submit">注 册</button>
                        <a class="a_login" href="~/account/login">登 录</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.5.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
